<a href="https://colab.research.google.com/github/diddigenikhitha/python1/blob/master/Day_6(4_12_2019).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Accept a number and check weather the given number 
# is divisible by 3 and 5
n = int(input("enter a number"))
if (n%3==0) and (n%5==0):
  print("the number is divisible by 3 and 5")
else:
  print("the number is not divisible by 3 and 5")

enter a number25
the number is not divisible by 3 and 5

In [0]:
# accept a number weather it is positive, negative,and zero
n = int(input("emter a number"))
if n<0:
   print("the number is negative")
elif n==0:
   print("the number is zero")
else: 
   print("the number is positive")

emter a number5
the number is positive

In [0]:
# accept the age of a person and check weather the person is eligible to vote or not
age = int(input("enter a age"))
if age >= 18:
  print("the person is eligible")
else:
  print("the person is not eligible")

enter a age20
the person is eligible

accept 3 subjects marks of the student if te student minimum 30 marks in all the subjects than findout the average else print fail on the screen.
1.if average is >75 print A grade
2.if average is >65.75 print B grade
3.if average is >45.65 print C grade
4.if average is >30.45 print D grade
5.if average is <30 print FAIL

In [0]:
x = int(input("enter sub-1 marks"))
y = int(input("enter sub-2 marks"))
z = int(input("enter sub-3 marks"))
avg = 0
if x >= 30 and y >= 30 and z >=30:
  avg = avg+(x+y+z)/3
  print(avg)
if avg>75:
  print("Grade A")
elif 65<avg <= 75:
  print("Grade B")
elif 45<avg <= 65:
  print("Grade C")
elif 30<avg <= 45:
  print("Grade D")
else :
  print("fail")

enter sub-1 marks90
enter sub-2 marks99
enter sub-3 marks98
95.66666666666667
Grade A

LOOPS

1.   while loop
2.   for loop

In [0]:
# print number from 1 to N
n = int(input("enter a number"))
i = 1
while i <= n:
   print(i, end=" ")
   i = i + 1

enter a number20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [0]:
# print all natural even numbers form 1 to N
n = int(input("enter a number"))
i = 1
while i <= n:
   if i % 2 == 0:
      print(i, end=" ")
   i = i + 1

enter a number20
2 4 6 8 10 12 14 16 18 20

In [0]:
# print sum of even numbers fron 1 to N
n = int(input("enter a number"))
i = 1
sum = 0
while i <= n:
  if i % 2 == 0:
    sum+=i
  i = i + 1
print(sum)

enter a number10
30

In [0]:
# extracting the digits from given number
# input----> 546
# output---> 6 4 5
n = int(input("enter a number"))
rev = 0
temp = n
while n!=0:
   r = n%10
   rev = rev*10+r
   n = n//10
if rev == temp:
   print("palindrome")
else:
   print("not palindrome")

enter a number222
palindrome

In [0]:
# print factors of given no.
n = int(input("enter a value"))
i = 1
while i <= n:
  if n%i == 0:
    print(i, end=" ")
  i=i+1

enter a value6
1 2 3 6

In [0]:
# amstrong no.
n = int(input("enter a value"))
sum = 0
temp = n
while n!=0:
  i=n%10
  sum = sum+(i**3)
  n=n//10
if sum == temp:
  print("amstrong")
else :
  print("not amstrong")

enter a value153
amstrong

In [0]:
# print numbers form 1 to N using forloop
n = int(input("enter any number"))
for i in range(1,n+1,2):
  print(i)

enter any number10
1
3
5
7
9

In [0]:
n = int(input("enter any number"))
for i in range(0,n+1,2):
   print(i)

enter any number10
0
2
4
6
8
10

In [0]:
n = input("enter your name")
for i in n:
  print(i)

enter your namepython
p
y
t
h
o
n

In [0]:
n = input("enter any string")
length = len(n)
i=0
while i<length:
  print(n[i])
  i = i+1

enter any stringGitam
G
i
t
a
m

# FUNCTIONS

In [0]:
# function
def add(x,y):
  return x+y
add(10,20)

30